{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'rockPaperScissorsApp/css/home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
</head>
<body>
<div class="head">
    <h1 class="heading">Welcome to <br>Rock Paper Scissors</h1>
</div>
<p class="p">Choose your weapon:</p>
<form class="choices" method='post'> 
    {% csrf_token %}
    <button type="submit" name="weapon" value="rock" class="weapon">
        <a href="#"><span>Rock</span></a>
    </button>
    <button type="submit" name="weapon" value="paper" class="weapon">
        <a href="#"><span>Paper</span></a>
    </button>
    <button type="submit" name="weapon" value="scissors" class="weapon">
        <a href="#"><span>Scissors</span></a>
    </button>
</form>
<div id="result">
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</div>
</body>
</html>